.header {
  width: 100%;
  height: 80px;
  background-color: #f8f9faeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 100;
}

.btn_cart{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--foreground);
  padding: 8px 12px;
  cursor: pointer;
}

.icon_cart:hover{
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  transform: scale(1.10);
}


